@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

hanko-auth {
  --color: rgb(255, 255, 255) !important;
  --color-shade-1: #d6d6d6;
  --background-color: #111827;
  --headline1-font-size: 30px;
  --headline1-font-weight: 600;
}

hanko-profile {
  --background-color: #111827;
  --container-padding: 30px;
  --container-margin: auto;
  --container-color: white;
  --color: rgb(255, 255, 255) !important;
}

hanko-auth::part(container),
hanko-profile::part(container) {
  border: solid 1px #d8dee3;
  border-radius: 6px;
}

hanko-auth::part(headline1),
hanko-profile::part(headline1),
hanko-auth::part(headline2),
hanko-profile::part(headline2) {
  color: #d6d6d6;
  line-height: 36px;
  font-family: Cal Sans;
}

hanko-auth::part(form-item) {
  min-width: 100%;
}

hanko-auth::part(input),
hanko-profile::part(input) {
  background-color: #ffffff;
  margin-bottom: 12px;
  color: #111827;
}

hanko-auth::part(secondary-button) {
  border-color: var(--color-shade-1);
}

hanko-auth::part(divider) {
  margin: 24px 0;
}
